.Add {
    border: 2.5px solid black;

    margin-bottom: 20px;
    height: 6vh;
    width: 85vw;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.addButton{
    border: 0px;
}

.bloodSugar{
    height: 20px;
    width: 3vw;
}

.carbs{
    height: 20px;
    width: 3vw;
}

.units{
    height: 20px;
    width: 3vw;
}

.time{
    height: 20px;
    width: 4vw;
}

.date{
    height: 20px;
    width: 6vw;
}